*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#000;
color:white;

}

.container{

border:8px solid gold;
padding:40px;

}

h1{

text-align:center;
color:gold;
font-size:60px;
margin-bottom:50px;

}

.menu{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:50px;
justify-items:center;

}

.card{

text-align:center;
cursor:pointer;
transition:.4s;

}

.card img{

width:300px;
height:220px;
object-fit:cover;
transition:.4s;
border-radius:10px;

}

.card:hover{

transform:translateY(-10px);

}

.card:hover img{

transform:scale(1.08);
box-shadow:0 0 30px gold;

}

.card h2{

color:gold;
font-size:35px;
margin-top:20px;

}

.card p{

color:gold;
font-size:25px;

}

.info{

display:grid;
grid-template-columns:2fr 1fr 1fr;
margin-top:100px;
align-items:start;

}

.restaurant img{

width:500px;
max-width:100%;

}

.contact{

margin-top:20px;
display:flex;
justify-content:space-between;

}

.hours{

color:#ff4444;
font-size:25px;
text-align:center;

}

.rating{

text-align:center;
font-size:30px;
color:gold;

}

@media(max-width:900px){

.menu{

grid-template-columns:1fr;

}

.info{

grid-template-columns:1fr;

gap:50px;

text-align:center;

}

.contact{

flex-direction:column;

gap:20px;

}

h1{

font-size:42px;

}

.card img{

width:100%;

}

}
